<!-- FOOTER SECTION START-->
<div class="container-fluid" style="background-color: #00172d">
  <div class="container">
    <!-- <div class="row"> -->
    <!-- FOOTER -->
    <div class="row justify-content-evenly text-white pt-5">
      <div class="col-md-4 pt-4">
        <h5 class="pb-4 fw-bold">Vision</h5>
        <p>
          We envision creating jobs and contributing to the reduction of
          poverty, unemployment, conservation and climate change, carbon
          footprint and so on.
        </p>
        <p>
          Our vision is to contribute towards organic food, food security,
          cleaner, greener and more sustainable Organic Nepal through our
          products- EcoHomeStay. SAF-FinTech, SAF-NEPSAF SAF-Biotech,
          SAF-Edutech, SAF-Agritech, SAF-FoodTech, SAF-MediTech,
          SAF-HospitalityTech, SAF-Innovation (R&D), SAF-Ecommerce, SAF-Media
          Tech, SAF-Pay, SAF-DataBank.
        </p>
        <p>
          Our Mission - “Cleaner, Greener, Digital, Sustainable & More Organic
          Nepal”
        </p>

        <div class="container p-1 pb-0">
          <!-- Section: Social media -->
          <section class="mb-4">
            <!-- Facebook -->
            <a
              class="btn btn-floating m-1"
              href="https://www.facebook.com/nepalecohomestay"
              role="button"
              ><i class="bi text-white fs-1 bi-facebook"></i
            ></a>

            <!-- Youtube -->
            <a
              class="btn btn-floating m-1"
              href="https://www.youtube.com/channel/UC8VQ5zePO5dy8NxrSu-Rhng"
              role="button"
              ><i class="bi text-white ps-2 fs-1 bi-youtube"></i
            ></a>
          </section>
          <!-- Section: Social media -->
        </div>
      </div>

      <div class="col-md-3 pt-4">
        <h5 class="pb-4 text-uppercase fw-bold">ONGOING PRODUCTS</h5>

        <p>
          <a href="#" class="link-light text-decoration-none">Eco Homestay</a>
        </p>

        <p>
          <a href="#" class="link-light text-decoration-none">SAF - EduTech</a>
        </p>

        <p>
          <a href="#" class="link-light text-decoration-none">SAF - BioTech</a>
        </p>

        <p>
          <a href="#" class="link-light text-decoration-none"
            >SAF - EnviromentTech</a
          >
        </p>

        <p>
          <a href="#" class="link-light text-decoration-none">SAF - CRM</a>
        </p>

        <p>
          <a href="#" class="link-light text-decoration-none">SAF - CMS</a>
        </p>

        <p>
          <a href="#" class="link-light text-decoration-none">SAF - PMS</a>
        </p>

        <p>
          <a href="#" class="link-light text-decoration-none">SAF - AgriTech</a>
        </p>

        <p>
          <a href="#" class="link-light text-decoration-none">SAF - FinTech</a>
        </p>
      </div>

      <div class="col-md-3 pt-4">
        <h5 class="pb-4 fw-bold">ONGOING PROJECTS</h5>

        <p>
          <a href="#" class="link-light text-decoration-none"
            >SAF School of Mentorship (SSM)</a
          >
        </p>

        <p>
          <a href="#" class="link-light text-decoration-none"
            >SAF School of Tourism & Hospitality (SSTH)</a
          >
        </p>

        <p>
          <a href="#" class="link-light text-decoration-none"
            >SAF School of IT (SIT)</a
          >
        </p>

        <p>
          <a href="#" class="link-light text-decoration-none"
            >Red Panda Conservation & Research center (PCRC)</a
          >
        </p>

        <p>
          <a href="#" class="link-light text-decoration-none"
            >SAF School of Business Intelligence (SBI)</a
          >
        </p>
      </div>

      <div class="col-md-2 pt-4">
        <h5 class="pb-4 fw-bold">CONTACT</h5>

        <p>
          Office: <br />
          Sanepa, Lalitpur, <br />
          Kathmandu, Nepal
        </p>

        <p>
          Call: <br />
          9862247321
        </p>

        <p>
          Mail: <br />
          info@ecohomestaynepal.com
        </p>
      </div>
    </div>

    <!-- COPYRIGHT -->
    <div class="row pt-5 pb-4 text-white">
      <div class="col-12">
        <p class="text-center fs-6">
          © Eco-HomeStay & SAF Nepal. All Rights Reserved.
        </p>
      </div>
    </div>
    <!-- COPYRIGHT END-->
    <!-- FOOTER END -->
    <!-- </div> -->
  </div>
</div>
<!-- FOOTER SECTION END -->
