<!----------------------- NAVBAR-TOP ------------------------->
<div class="container-fluid">
  <nav class="navbar sticky-top navbar-expand-lg navbar-light">
    <!-- Navbar brand -->
    <div class="container">
      <a class="navbar-brand me-2" href="/">
        <img
          src="../images/ecoHomestayLogo.jpg"
          height="66"
          alt="MDB Logo"
          class="sticky-top"
          href="/"
          loading="lazy"
          style="margin-top: -1px"
        />
      </a>

      <!-- Toggle button -->
      <button
        class="navbar-toggler"
        type="button"
        data-mdb-toggle="collapse"
        data-mdb-target="#navbarButtonsExample"
        aria-controls="navbarButtonsExample"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-bars"></i>
      </button>

      <!-- Collapsible wrapper -->
      <div class="collapse navbar-collapse" id="navbarButtonsExample">
        <!-- Left links -->
        <ul class="navbar-nav me-auto mb-2 mb-lg-0"></ul>
        <!-- Left links -->

        <div class="d-flex align-items-center">
          <a href="#" class="pe-5 text-black">List your HomeStay</a>
          <a href="./eco-contact.html"
            ><button type="button" class="btn btn-danger me-3">
              Contact
            </button></a
          >
        </div>
      </div>
    </div>
  </nav>
  <!-- Navbar-brand END -->
</div>
<!----------------------- NAVBAR-TOP END ------------------------->

<!----------------------- NAVBAR-CONTENT ------------------------->
<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
  <!-- Container wrapper -->

  <!--NAVBAR CONTENT START-->
  <div
    class="container-fluid pb-3 pt-3"
    style="background-color: rgb(239, 69, 8)"
  >
    <!-- Toggle button -->
    <button
      class="navbar-toggler"
      type="button"
      data-mdb-toggle="collapse"
      data-mdb-target="#navbarRightAlignExample"
      aria-controls="navbarRightAlignExample"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>

    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse" id="navbarRightAlignExample">
      <!-- Left links -->
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <!-- Navbar dropdown -->
        <li class="nav-item dropdown subHeaderHover">
          <a
            class="nav-link text-white dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-mdb-toggle="dropdown"
            aria-expanded="false"
          >
            Homestay
          </a>
          <!-- Dropdown menu -->
          <ul
            class="dropdown-menu listSubHeader"
            aria-labelledby="navbarDropdown"
          >
            <li>
              <a class="dropdown-item abc" href="/homestay/family-hotel"
                >Family Hotel / Residential Training School / Center</a
              >
            </li>
            <li>
              <a
                class="dropdown-item"
                href="/homestay/pilgrimage-dharmshala-stay"
                >Pilgrimage- Dharmshala Stay / Monastery Stay</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="/homestay/hunting-reserves"
                >Hunting Reserves / Fort House</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="/homestay/jungle-stay"
                >Jungle Stay / Tree House</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="/homestay/wellness"
                >Wellness / Rcreation / Re-Treat Home</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="/homestay/eco-homes"
                >Eco Homes / Time Share</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="/homestay/farm-house"
                >Farm House / Permaculture House</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="/homestay/farmstay"
                >Farmstay / Family Farming</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="/homestay/family-homestay"
                >Family Homestay</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="/homestay/community-homestay"
                >Community Homestay</a
              >
            </li>
          </ul>
        </li>
        <!--NAVBAR DROPDOWN END-->
        <!-- Navbar dropdown -->
        <li class="nav-item dropdown subHeaderHover">
          <a
            class="nav-link text-white dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-mdb-toggle="dropdown"
            aria-expanded="false"
          >
            Activities
          </a>
          <!-- Dropdown menu -->
          <ul
            class="dropdown-menu listSubHeader"
            aria-labelledby="navbarDropdown"
          >
            <li>
              <a class="dropdown-item" href="/activities/exposure-visit"
                >Exposure Visit / Tour</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="/activities/adventure"
                >Adventure</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="/activities/rock-climbing"
                >Rock Climbing / Mountaineering</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="/activities/hunting"
                >Hunting / Tree Climbing</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="/activities/scouting"
                >Scouting / Tenting / Camping</a
              >
            </li>
            <li>
              <a
                class="dropdown-item"
                href="/activities/training-job-placement"
              >
                Training & Job Placement</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="/activities/research-field-study">
                Research & Field Study</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="/activities/internship"
                >OJT / Internship / Extrepreneurship</a
              >
            </li>
          </ul>
        </li>
        <!--NAVBAR DROPDOWN END-->
        <!-- Navbar dropdown -->
        <li class="nav-item dropdown subHeaderHover">
          <a
            class="nav-link text-white dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-mdb-toggle="dropdown"
            aria-expanded="false"
          >
            Our Partners
          </a>
          <!-- Dropdown menu -->
          <ul
            class="dropdown-menu listSubHeader"
            aria-labelledby="navbarDropdown"
          >
            <li>
              <a class="dropdown-item" href="/our-partners/eco-college"
                >Eco College / University</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="/our-partners/eco-partner-hospital"
                >Eco Partner Hospital</a
              >
            </li>
            <li>
              <a
                class="dropdown-item"
                href="/our-partners/eco-partner-training-center"
              >
                Eco Partner Training Center</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="/our-partners/eco-partner-nursery"
                >Eco Partner Nursery</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="/our-partners/eco-partner-coop"
                >Eco Partner Coop (Co-Operative)</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="/our-partners/pet-store"
                >Eco VET / Pet Store</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="/our-partners/eco-agromart"
                >Eco Agromart / AgriTech</a
              >
            </li>
          </ul>
        </li>
        <!--NAVBAR DROPDOWN END-->
        <!-- Navbar dropdown -->
        <li class="nav-item dropdown subHeaderHover">
          <a
            class="nav-link text-white dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-mdb-toggle="dropdown"
            aria-expanded="false"
          >
            Tourism with purpose
          </a>
          <!-- Dropdown menu -->
          <ul
            class="dropdown-menu listSubHeader"
            aria-labelledby="navbarDropdown"
          >
            <li>
              <a class="dropdown-item" href="/tourism-purpose/dark-tourism"
                >Dark Tourism</a
              >
            </li>
            <li>
              <a
                class="dropdown-item"
                href="/tourism-purpose/gastronomy-tourism"
                >Gastronomy Tourism</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="/tourism-purpose/agro-tourism"
                >Agro Tourism</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="/tourism-purpose/research-tourism"
                >Research Tourism</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="/tourism-purpose/poverty-tourism"
                >Poverty Tourism</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="/tourism-purpose/wellness"
                >Wellness / Health Tourism</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="/tourism-purpose/food-tourism"
                >Food Tourism</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="/tourism-purpose/inno-tourism"
                >Inno Tourism</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="/tourism-purpose/back-to-nature"
                >Back to Nature (BTN)</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="/tourism-purpose/community-tourism"
                >Community Tourism / Rular Tourism</a
              >
            </li>
          </ul>
        </li>
        <!--NAVBAR DROPDOWN END-->

        <li class="nav-item">
          <a
            class="nav-link text-white active"
            aria-current="page"
            href="/impact"
            >Impact</a
          >
        </li>

        <!-- Navbar dropdown -->
        <li class="nav-item dropdown subHeaderHover">
          <a
            class="nav-link text-white dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-mdb-toggle="dropdown"
            aria-expanded="false"
          >
            About
          </a>
          <!-- Dropdown menu -->
          <ul
            class="dropdown-menu listSubHeader"
            aria-labelledby="navbarDropdown"
          >
            <li>
              <a class="dropdown-item" href="/about/vision"
                >Vission / Mission / Goal</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="/about/who-we-are">Who We Are</a>
            </li>
            <li>
              <a class="dropdown-item" href="/about/message-from-ceo"
                >Message from CEO</a
              >
            </li>
          </ul>
        </li>
        <!--NAVBAR DROPDOWN END-->

        <!-- Navbar dropdown -->
        <li class="nav-item dropdown subHeaderHover">
          <a
            class="nav-link text-white dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-mdb-toggle="dropdown"
            aria-expanded="false"
          >
            Career/Mentorship
          </a>
          <!-- Dropdown menu -->
          <ul
            class="dropdown-menu listSubHeader"
            aria-labelledby="navbarDropdown"
          >
            <li>
              <a class="dropdown-item" href="/career/job">Job</a>
            </li>
            <li>
              <a class="dropdown-item" href="/career/mentorship">Mentorship</a>
            </li>
            <li>
              <a class="dropdown-item" href="/career/research">Research</a>
            </li>
            <li>
              <a class="dropdown-item" href="/career/entrepreneurship"
                >Entrepreneurship</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="/career/job-placement"
                >OJT / Job Placement</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="/career/fellowship">Fellowship</a>
            </li>
            <li>
              <a class="dropdown-item" href="/career/volunteer"
                >Volunteer / Internship</a
              >
            </li>
          </ul>
        </li>
        <!--NAVBAR DROPDOWN END-->
        <!-- Navbar dropdown -->
        <li class="nav-item dropdown subHeaderHover">
          <a
            class="nav-link text-white dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-mdb-toggle="dropdown"
            aria-expanded="false"
          >
            Eco Bazar
          </a>
          <!-- Dropdown menu -->
          <ul
            class="dropdown-menu listSubHeader"
            aria-labelledby="navbarDropdown"
          >
            <li>
              <a class="dropdown-item" href="/eco-bazar/farm">Farm</a>
            </li>
            <li>
              <a class="dropdown-item" href="/eco-bazar/homestay-hotel"
                >HomeStay & Hotel</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="/eco-bazar/coffee-shop-cafe"
                >Coffee Shop & Cafe</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="/eco-bazar/pasal"
                >Pasal / Grocery</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="/eco-bazar/money-transfer"
                >Money Transfer</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="/eco-bazar/school-college-fee"
                >School College Fee</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="/eco-bazar/utility"
                >Utility / Recharge Card</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="/eco-bazar/haat-bazar"
                >Haat Bazar / Commodity market</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="/eco-bazar/clothing-apparel"
                >Clothing Apparel</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="/eco-bazar/ticketing"
                >Ticketing / Air Ticketing</a
              >
            </li>
          </ul>
        </li>
        <!--NAVBAR DROPDOWN END-->
        <!-- Navbar dropdown -->
        <li class="nav-item dropdown subHeaderHover">
          <a
            class="nav-link text-white dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-mdb-toggle="dropdown"
            aria-expanded="false"
          >
            Eco Merchant
          </a>
          <!-- Dropdown menu -->
          <ul
            class="dropdown-menu listSubHeader"
            aria-labelledby="navbarDropdown"
          >
            <li>
              <a class="dropdown-item" href="/eco-merchant/farm">Farm</a>
            </li>
            <li>
              <a class="dropdown-item" href="/eco-merchant/eco-merchant-farms"
                >Eco Merchant Farms</a
              >
            </li>
            <li>
              <a
                class="dropdown-item"
                href="/eco-merchant/eco-merchant-cafe-resturant"
                >Eco Merchant Cafe & Resturant</a
              >
            </li>
            <li>
              <a
                class="dropdown-item"
                href="/eco-merchant/eco-merchant-coffee-shop-juice"
                >Eco Merchant Coffee Shop & Juice</a
              >
            </li>
            <li>
              <a
                class="dropdown-item"
                href="/eco-merchant/eco-merchant-meatmart"
                >Eco Merchant Meatmart</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="/eco-merchant/eco-partner-banks"
                >Eco Partner Banks</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="/eco-merchant/eco-gateway-partner"
                >Eco Gateway Partner</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="/eco-merchant/eco-media-partner"
                >Eco Media Partner</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="/eco-merchant/eco-hospitality"
                >Eco Hospitality</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="/eco-merchant/eco-event-partner"
                >Eco Event Partner</a
              >
            </li>
          </ul>
        </li>
        <!--NAVBAR DROPDOWN END-->
        <!-- Navbar dropdown -->
        <li class="nav-item dropdown subHeaderHover">
          <a
            class="nav-link text-white dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-mdb-toggle="dropdown"
            aria-expanded="false"
          >
            Eco TV / Events
          </a>
          <!-- Dropdown menu -->
          <ul
            class="dropdown-menu listSubHeader"
            aria-labelledby="navbarDropdown"
          >
            <li>
              <a class="dropdown-item" href="/eco-tv/documentary"
                >Documentary</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="/eco-tv/events"
                >Events / Webinars</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="/eco-tv/press-release"
                >Press Release</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="/eco-tv/blog">Blog</a>
            </li>
            <li>
              <a class="dropdown-item" href="/eco-tv/green-birthday"
                >Green Birthday / Green Event</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="/eco-tv">Eco TV</a>
            </li>
          </ul>
        </li>
        <!--NAVBAR DROPDOWN END-->
      </ul>
      <!-- Left links -->
    </div>
    <!-- Collapsible wrapper -->
  </div>
  <!-- Container wrapper -->
</nav>
<!----------------------- NAVBAR-CONTENT END ------------------------->
