<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Eco HomeStay | <%= info.name %> </title>

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
      crossorigin="anonymous"
    />

    <!-- css style link-->
    <link rel="stylesheet" href="css/style.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css"
    />
    <!-- Font Awesome -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
      rel="stylesheet"
    />
    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
      rel="stylesheet"
    />
    <!-- MDB -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/4.4.0/mdb.min.css"
      rel="stylesheet"
    />
    <!-- MDB -->
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/4.4.0/mdb.min.js"
    ></script>
  </head>
  <body>
    <!--MESSAGE-->
    <div class="messagePopUp">
      <div class="form-popup mt-5" id="myForm">
        <form action="/message" class="form-container">
          <label for="email"><b>Name</b></label>
          <input type="text" placeholder="Name" name="email" required>
      
          <label for="email"><b>Email</b></label>
          <input type="text" placeholder="Email" name="email" required>
      
          <button type="submit" class="btn">Login</button>
          <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
        </form>
      </div>
      </form>
    </div>
    <!--MESSAGE END-->
    <button onclick="openForm()" id="message">
        <i class="bi fs-1 message text-white bi-chat-dots-fill"></i
      >
    </button>
    <button id="back-to-top-btn">
      <i class="bi fs-2 text-danger bi-arrow-up-circle-fill"></i>
    </button>
    <!--NAVBAR-->
    <!--NAVBAR TOP-->
    <div class="container-fluid">
      <!-- Navbar -->
      <nav class="navbar sticky-top navbar-expand-lg navbar-light">
        <!-- Container wrapper -->
        <div class="container">
          <!-- Navbar brand -->
          <a class="navbar-brand me-2" href="/eco">
            <img
              src="images/ecoHomestayLogo.jpg"
              height="66"
              alt="MDB Logo"
              class="sticky-top"
              href="/eco"
              loading="lazy"
              style="margin-top: -1px"
            />
          </a>

          <!-- Toggle button -->
          <button
            class="navbar-toggler"
            type="button"
            data-mdb-toggle="collapse"
            data-mdb-target="#navbarButtonsExample"
            aria-controls="navbarButtonsExample"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <i class="fas fa-bars"></i>
          </button>

          <!-- Collapsible wrapper -->
          <div class="collapse navbar-collapse" id="navbarButtonsExample">
            <!-- Left links -->
            <ul class="navbar-nav me-auto mb-2 mb-lg-0"></ul>
            <!-- Left links -->

            <div class="d-flex align-items-center">
              <!-- <button type="button" class="btn btn-link px-3 me-2">
                Login
              </button> -->
              <a href="#" class="pe-5 text-black">List your HomeStay</a>
              <a href="./eco-contact.html"
                ><button type="button" class="btn btn-danger me-3">
                  Contact
                </button></a
              >
            </div>
          </div>
          <!-- Collapsible wrapper -->
        </div>
        <!-- Container wrapper -->
      </nav>
      <!-- Navbar -->
    </div>
    <!--NAVBAR TOP END-->
    <!--nav image end-->

    <!-- NAVBAR CONTENT-->
    <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
      <!-- Container wrapper -->

      <!--NAVBAR CONTENT START-->
      <div
        class="container-fluid pb-3 pt-3"
        style="background-color: rgb(239, 69, 8)"
      >
        <!-- Toggle button -->
        <button
          class="navbar-toggler"
          type="button"
          data-mdb-toggle="collapse"
          data-mdb-target="#navbarRightAlignExample"
          aria-controls="navbarRightAlignExample"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <i class="fas fa-bars"></i>
        </button>

        <!-- Collapsible wrapper -->
        <div class="collapse navbar-collapse" id="navbarRightAlignExample">
          <!-- Left links -->
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <!-- Navbar dropdown -->
            <li class="nav-item dropdown subHeaderHover">
              <a
                class="nav-link text-white dropdown-toggle"
                href="#"
                id="navbarDropdown"
                role="button"
                data-mdb-toggle="dropdown"
                aria-expanded="false"
              >
                Homestay
              </a>
              <!-- Dropdown menu -->
              <ul
                class="dropdown-menu listSubHeader"
                aria-labelledby="navbarDropdown"
              >
                <li>
                  <a class="dropdown-item abc" href="/homestay/family-hotel"
                    >Family Hotel / Residential Training School / Center</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="/homestay/pilgrimage-dharmshala-stay"
                    >Pilgrimage- Dharmshala Stay / Monastery Stay</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="/homestay/hunting-reserves"
                    >Hunting Reserves / Fort House</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="/homestay/jungle-stay">Jungle Stay / Tree House</a>
                </li>
                <li>
                  <a class="dropdown-item" href="/homestay/wellness"
                    >Wellness / Rcreation / Re-Treat Home</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="/homestay/eco-homes">Eco Homes / Time Share</a>
                </li>
                <li>
                  <a class="dropdown-item" href="/homestay/farm-house"
                    >Farm House / Permaculture House</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="/homestay/farmstay"
                    >Farmstay / Family Farming</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="/homestay/family-homestay">Family Homestay</a>
                </li>
                <li>
                  <a class="dropdown-item" href="/homestay/community-homestay">Community Homestay</a>
                </li>
              </ul>
            </li>
            <!--NAVBAR DROPDOWN END-->
            <!-- Navbar dropdown -->
            <li class="nav-item dropdown subHeaderHover">
              <a
                class="nav-link text-white dropdown-toggle"
                href="#"
                id="navbarDropdown"
                role="button"
                data-mdb-toggle="dropdown"
                aria-expanded="false"
              >
                Activities 
              </a>
              <!-- Dropdown menu -->
              <ul
                class="dropdown-menu listSubHeader"
                aria-labelledby="navbarDropdown"
              >
                <li>
                  <a class="dropdown-item" href="/activities/exposure-visit">Exposure Visit / Tour</a>
                </li>
                <li>
                  <a class="dropdown-item" href="/activities/adventure">Adventure</a>
                </li>
                <li>
                  <a class="dropdown-item" href="/activities/rock-climbing"
                    >Rock Climbing / Mountaineering</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="/activities/hunting">Hunting / Tree Climbing</a>
                </li>
                <li>
                  <a class="dropdown-item" href="/activities/scouting"
                    >Scouting / Tenting / Camping</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="/activities/training-job-placement"> Traning & Job Placement</a>
                </li>
                <li>
                  <a class="dropdown-item" href="/activities/research-field-study"> Research & Field Study</a>
                </li>
                <li>
                  <a class="dropdown-item" href="activities/ojt"
                    >OJT / Internship / Extrepreneurship</a
                  >
                </li>
              </ul>
            </li>
            <!--NAVBAR DROPDOWN END-->
            <!-- Navbar dropdown -->
            <li class="nav-item dropdown subHeaderHover">
              <a
                class="nav-link text-white dropdown-toggle"
                href="#"
                id="navbarDropdown"
                role="button"
                data-mdb-toggle="dropdown"
                aria-expanded="false"
              >
                Our Partners
              </a>
              <!-- Dropdown menu -->
              <ul
                class="dropdown-menu listSubHeader"
                aria-labelledby="navbarDropdown"
              >
                <li>
                  <a class="dropdown-item" href="/our-partner/eco-college">Eco College / University</a>
                </li>
                <li>
                  <a class="dropdown-item" href="/our-partner/eco-partner-hospital">Eco Partner Hospital</a>
                </li>
                <li>
                  <a class="dropdown-item" href="/our-partner/eco-partner-training-center">
                    Eco Partner Training Center</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="/our-partner/eco-partner-nursery">Eco Partner Nursery</a>
                </li>
                <li>
                  <a class="dropdown-item" href="/our-partner/eco-partner-coop"
                    >Eco Partner Coop (Co-Operative)</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="/our-partner/eco-vet">Eco VET / Pet Store</a>
                </li>
                <li>
                  <a class="dropdown-item" href="/our-partner/eco-agromart">Eco Agromart / AgriTech</a>
                </li>
              </ul>
            </li>
            <!--NAVBAR DROPDOWN END-->
            <!-- Navbar dropdown -->
            <li class="nav-item dropdown subHeaderHover">
              <a
                class="nav-link text-white dropdown-toggle"
                href="#"
                id="navbarDropdown"
                role="button"
                data-mdb-toggle="dropdown"
                aria-expanded="false"
              >
                Tourism with purpose
              </a>
              <!-- Dropdown menu -->
              <ul
                class="dropdown-menu listSubHeader"
                aria-labelledby="navbarDropdown"
              >
                <li>
                  <a class="dropdown-item" href="/tourism-with-purpose/dark-tourism">Dark Tourism</a>
                </li>
                <li>
                  <a class="dropdown-item" href="/tourism-with-purpose/gastronomy-tourism">Gastronomy Tourism</a>
                </li>
                <li>
                  <a class="dropdown-item" href="/tourism-with-purpose/agro-tourism">Agro Tourism</a>
                </li>
                <li>
                  <a class="dropdown-item" href="/tourism-with-purpose/research-tourism">Research Tourism</a>
                </li>
                <li>
                  <a class="dropdown-item" href="/tourism-with-purpose/poverty-tourism">Poverty Tourism</a>
                </li>
                <li>
                  <a class="dropdown-item" href="/tourism-with-purpose/wellness"
                    >Wellness / Health Tourism</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="/tourism-with-purpose/food-tourism">Food Tourism</a>
                </li>
                <li>
                  <a class="dropdown-item" href="/tourism-with-purpose/inno-tourism">Inno Tourism</a>
                </li>
                <li>
                  <a class="dropdown-item" href="/tourism-with-purpose/back-to-nature">Back to Nature (BTN)</a>
                </li>
                <li>
                  <a class="dropdown-item" href="/tourism-with-purpose/community-tourism"
                    >Community Tourism / Rular Tourism</a
                  >
                </li>
              </ul>
            </li>
            <!--NAVBAR DROPDOWN END-->

            <li class="nav-item">
              <a class="nav-link text-white active" aria-current="page" href="#"
                >Impact</a
              >
            </li>

            <!-- Navbar dropdown -->
            <li class="nav-item dropdown subHeaderHover">
              <a
                class="nav-link text-white dropdown-toggle"
                href="#"
                id="navbarDropdown"
                role="button"
                data-mdb-toggle="dropdown"
                aria-expanded="false"
              >
                About
              </a>
              <!-- Dropdown menu -->
              <ul
                class="dropdown-menu listSubHeader"
                aria-labelledby="navbarDropdown"
              >
                <li>
                  <a class="dropdown-item" href="/about/vision"
                    >Vission / Mission / Goal</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="/about/who-we-are"
                    >Who We Are</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="/about/message-from-ceo">Message from CEO</a>
                </li>
              </ul>
            </li>
            <!--NAVBAR DROPDOWN END-->

            <!-- Navbar dropdown -->
            <li class="nav-item dropdown subHeaderHover">
              <a
                class="nav-link text-white dropdown-toggle"
                href="#"
                id="navbarDropdown"
                role="button"
                data-mdb-toggle="dropdown"
                aria-expanded="false"
              >
                Career/Mentorship
              </a>
              <!-- Dropdown menu -->
              <ul
                class="dropdown-menu listSubHeader"
                aria-labelledby="navbarDropdown"
              >
                <li>
                  <a class="dropdown-item" href="/career/job">Job</a>
                </li>
                <li>
                  <a class="dropdown-item" href="/career/mentorship">Mentorship</a>
                </li>
                <li>
                  <a class="dropdown-item" href="/career/research">Research</a>
                </li>
                <li>
                  <a class="dropdown-item" href="/career/entrepreneurship">Entrepreneurship</a>
                </li>
                <li>
                  <a class="dropdown-item" href="/career/job-placement">OJT / Job Placement</a>
                </li>
                <li>
                  <a class="dropdown-item" href="/career/fellowship">Fellowship</a>
                </li>
                <li>
                  <a class="dropdown-item" href="/career/volunteer">Volunteer / Internship</a>
                </li>
              </ul>
            </li>
            <!--NAVBAR DROPDOWN END-->
            <!-- Navbar dropdown -->
            <li class="nav-item dropdown subHeaderHover">
              <a
                class="nav-link text-white dropdown-toggle"
                href="#"
                id="navbarDropdown"
                role="button"
                data-mdb-toggle="dropdown"
                aria-expanded="false"
              >
                Eco Bazar
              </a>
              <!-- Dropdown menu -->
              <ul
                class="dropdown-menu listSubHeader"
                aria-labelledby="navbarDropdown"
              >
                <li>
                  <a class="dropdown-item" href="/eco-bazar/farm">Farm</a>
                </li>
                <li>
                  <a class="dropdown-item" href="/eco-bazar/homestay-hotel">HomeStay & Hotel</a>
                </li>
                <li>
                  <a class="dropdown-item" href="/eco-bazar/coffee-shop-cafe">Coffee Shop & Cafe</a>
                </li>
                <li>
                  <a class="dropdown-item" href="/eco-bazar/pasal">Pasal / Grocery</a>
                </li>
                <li>
                  <a class="dropdown-item" href="/eco-bazar/money-transfer">Money Transfer</a>
                </li>
                <li>
                  <a class="dropdown-item" href="/eco-bazar/school-college-fee">School College Fee</a>
                </li>
                <li>
                  <a class="dropdown-item" href="/eco-bazar/utility">Utility / Recharge Card</a>
                </li>
                <li>
                  <a class="dropdown-item" href="/eco-bazar/haat-bazar"
                    >Haat Bazar / Commodity market</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="/eco-bazar/clothing-apparel">Clothing Apparel</a>
                </li>
                <li>
                  <a class="dropdown-item" href="/eco-bazar/ticketing"
                    >Ticketing / Air Ticketing</a
                  >
                </li>
              </ul>
            </li>
            <!--NAVBAR DROPDOWN END-->
            <!-- Navbar dropdown -->
            <li class="nav-item dropdown subHeaderHover">
              <a
                class="nav-link text-white dropdown-toggle"
                href="#"
                id="navbarDropdown"
                role="button"
                data-mdb-toggle="dropdown"
                aria-expanded="false"
              >
                Eco Merchant
              </a>
              <!-- Dropdown menu -->
              <ul
                class="dropdown-menu listSubHeader"
                aria-labelledby="navbarDropdown"
              >
                <li>
                  <a class="dropdown-item" href="/eco-merchant/farm">Farm</a>
                </li>
                <li>
                  <a class="dropdown-item" href="/eco-merchant/eco-merchant-farms">Eco Merchant Farms</a>
                </li>
                <li>
                  <a class="dropdown-item" href="/eco-merchant/eco-merchant-cafe-resturant"
                    >Eco Merchant Cafe & Resturant</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="/eco-merchant/eco-merchant-coffee-shop-juice"
                    >Eco Merchant Coffee Shop & Juice</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="/eco-merchant/eco-merchant-meatmart">Eco Merchant Meatmart</a>
                </li>
                <li>
                  <a class="dropdown-item" href="/eco-merchant/eco-partner-banks">Eco Partner Banks</a>
                </li>
                <li>
                  <a class="dropdown-item" href="/eco-merchant/eco-gateway-partner">Eco Gateway Partner</a>
                </li>
                <li>
                  <a class="dropdown-item" href="/eco-merchant/eco-media-partner">Eco Media Partner</a>
                </li>
                <li>
                  <a class="dropdown-item" href="/eco-merchant/eco-hospitality">Eco Hospitality</a>
                </li>
                <li>
                  <a class="dropdown-item" href="/eco-merchant/eco-event-partner">Eco Event Partner</a>
                </li>
              </ul>
            </li>
            <!--NAVBAR DROPDOWN END-->
            <!-- Navbar dropdown -->
            <li class="nav-item dropdown subHeaderHover">
              <a
                class="nav-link text-white dropdown-toggle"
                href="#"
                id="navbarDropdown"
                role="button"
                data-mdb-toggle="dropdown"
                aria-expanded="false"
              >
                Eco TV / Events
              </a>
              <!-- Dropdown menu -->
              <ul
                class="dropdown-menu listSubHeader"
                aria-labelledby="navbarDropdown"
              >
                <li>
                  <a class="dropdown-item" href="/eco-tv/documentary">Documentary</a>
                </li>
                <li>
                  <a class="dropdown-item" href="/eco-tv/events">Events / Webinars</a>
                </li>
                <li>
                  <a class="dropdown-item" href="/eco-tv/press-release">Press Release</a>
                </li>
                <li>
                  <a class="dropdown-item" href="/eco-tv/blog">Blog</a>
                </li>
                <li>
                  <a class="dropdown-item" href="/eco-tv/green-birthday"
                    >Green Birthday / Green Event</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="/eco-tv">Eco TV</a>
                </li>
              </ul>
            </li>
            <!--NAVBAR DROPDOWN END-->
          </ul>
          <!-- Left links -->
        </div>
        <!-- Collapsible wrapper -->
      </div>
      <!-- Container wrapper -->
    </nav>
    <!--NAVBER CONTENT END-->
    <!--NAVBAR END-->

    <!--BELOW NAVBAR-->

    <!--BELOW NAVBAR END-->

    <!-- AFTER NAVBAR / ECOHOMESTAY PHOTO SECTION-->
    <div
      class="container-fluid"
      style="background-image: url(images/homestay.jpg)"
    >
      <!-- <div
        class="banner-content"
        style="background-image: url(./images/homestay.jpg)"
      > -->
      <div class="row justify-content-center">
        <div class="col-md-7 mt-5 mb-5 pt-5">
          <div class="row justify-content-evenly">
            <div class="col-md-12 mb-2 pt-2">
              <select
                class="form-select pt-3 pb-3 mt-4 mb-3 bg-light"
                aria-label="Default select example"
              >
                <option selected class="ps-5">Where to Stay</option>
                <option value="1">Pokhara</option>
                <option value="2">Kathmandu</option>
                <option value="3">Chitwan</option>
              </select>
            </div>
            <div class="col-md-3 ps-5 pb-2">
              <input
                class="p-2 bg-light w-100"
                id="datePicker1"
                placeholder="Check In"
                type="text"
              />
            </div>
            <div class="col-md-3 ps-5 pb-2">
              <!-- <input class="p-2" type="date" /> -->
              <input
                class="p-2 bg-light w-100"
                id="datePicker2"
                placeholder="Check Out"
                type="text"
                onmousedown="mousedown"
                onmouseup="mouseup"
              />
            </div>
            <div class="col-md-3 ps-5 pb-2">
              <select
                class="form-select pt-2 pb-2"
                aria-label="Default select example"
              >
                <option selected>Guests</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
              </select>
            </div>
            <div class="col-md-3 ps-5 mb-2 pb-2">
              <button type="button" class="btn btn-danger btn-lg">
                Enquiry
              </button>
            </div>
          </div>
        </div>
      </div>
      <!-- </div> -->
    </div>
    <!-- AFTER NAVBAR / ECOHOMESTAY PHOTO SECTION --- END-->

    <!--FEATURED SECTION START-->
    <div class="container-fluid mt-5 mb-5">
      <!-- header name-->
      <div class="row justify-content-evenly text-center">
        <div class="col-md-5 mt-5 mb-3">
          <h2>Featured HomeStay</h2>
        </div>
      </div>
      <!-- header name end-->
      <!--images-->
      <div class="row justify-content-evenly">
        <div class="col-md-11 mt-3">
          <div class="row justify-content-evenly">
            <div class="col-md-3 pt-2 pb-3">
              <img
                src="images/village1.png"
                class="img-fluid"
                alt="village1"
              />
            </div>
            <div class="col-md-3 pt-2 pb-3">
              <img
                src="images/village2.png"
                class="img-fluid"
                alt="village1"
              />
            </div>
            <div class="col-md-3 pt-2 pb-3">
              <img
                src="images/village3.png"
                class="img-fluid"
                alt="village1"
              />
            </div>
            <div class="col-md-3 pt-2 pb-3">
              <img
                src="images/village4.png"
                class="img-fluid"
                alt="village1"
              />
            </div>
          </div>
        </div>
      </div>
      <!--Images end-->
    </div>

    <!--FEATURED SECTION END-->

    <!--FOOTER START-->
    <div class="container-fluid" style="background-color: #00172d">
      <div class="container">
        <!-- <div class="row"> -->
        <!-- FOOTER -->
        <div class="row justify-content-evenly text-white pt-5">
          <div class="col-md-4 pt-4">
            <h5 class="pb-4 fw-bold">Vision</h5>
            <p>
              We envision creating jobs and contributing to the reduction of
              poverty, unemployment, conservation and climate change, carbon
              footprint and so on.
            </p>
            <p>
              Our vision is to contribute towards organic food, food security,
              cleaner, greener and more sustainable Organic Nepal through our
              products- EcoHomeStay. SAF-FinTech, SAF-NEPSAF SAF-Biotech,
              SAF-Edutech, SAF-Agritech, SAF-FoodTech, SAF-MediTech,
              SAF-HospitalityTech, SAF-Innovation (R&D), SAF-Ecommerce,
              SAF-Media Tech, SAF-Pay, SAF-DataBank.
            </p>
            <p>
              Our Mission - “Cleaner, Greener, Digital, Sustainable & More
              Organic Nepal”
            </p>

            <div class="container p-1 pb-0">
              <!-- Section: Social media -->
              <section class="mb-4">
                <!-- Facebook -->
                <a
                  class="btn btn-floating m-1"
                  href="https://www.facebook.com/nepalecohomestay"
                  role="button"
                  ><i class="bi text-white fs-1 bi-facebook"></i
                ></a>

                <!-- Youtube -->
                <a
                  class="btn btn-floating m-1"
                  href="https://www.youtube.com/channel/UC8VQ5zePO5dy8NxrSu-Rhng"
                  role="button"
                  ><i class="bi text-white ps-2 fs-1 bi-youtube"></i
                ></a>
              </section>
              <!-- Section: Social media -->
            </div>
          </div>

          <div class="col-md-3 pt-4">
            <h5 class="pb-4 text-uppercase fw-bold">ONGOING PRODUCTS</h5>

            <p>
              <a href="#" class="link-light text-decoration-none"
                >Eco Homestay</a
              >
            </p>

            <p>
              <a href="#" class="link-light text-decoration-none"
                >SAF - EduTech</a
              >
            </p>

            <p>
              <a href="#" class="link-light text-decoration-none"
                >SAF - BioTech</a
              >
            </p>

            <p>
              <a href="#" class="link-light text-decoration-none"
                >SAF - EnviromentTech</a
              >
            </p>

            <p>
              <a href="#" class="link-light text-decoration-none">SAF - CRM</a>
            </p>

            <p>
              <a href="#" class="link-light text-decoration-none">SAF - CMS</a>
            </p>

            <p>
              <a href="#" class="link-light text-decoration-none">SAF - PMS</a>
            </p>

            <p>
              <a href="#" class="link-light text-decoration-none"
                >SAF - AgriTech</a
              >
            </p>

            <p>
              <a href="#" class="link-light text-decoration-none"
                >SAF - FinTech</a
              >
            </p>
          </div>

          <div class="col-md-3 pt-4">
            <h5 class="pb-4 fw-bold">ONGOING PROJECTS</h5>

            <p>
              <a href="#" class="link-light text-decoration-none"
                >SAF School of Mentorship (SSM)</a
              >
            </p>

            <p>
              <a href="#" class="link-light text-decoration-none"
                >SAF School of Tourism & Hospitality (SSTH)</a
              >
            </p>

            <p>
              <a href="#" class="link-light text-decoration-none"
                >SAF School of IT (SIT)</a
              >
            </p>

            <p>
              <a href="#" class="link-light text-decoration-none"
                >Red Panda Conservation & Research center (PCRC)</a
              >
            </p>

            <p>
              <a href="#" class="link-light text-decoration-none"
                >SAF School of Business Intelligence (SBI)</a
              >
            </p>
          </div>

          <div class="col-md-2 pt-4">
            <h5 class="pb-4 fw-bold">CONTACT</h5>

            <p>
              Office: <br />
              Sanepa, Lalitpur, <br />
              Kathmandu, Nepal
            </p>

            <p>
              Call: <br />
              9862247321
            </p>

            <p>
              Mail: <br />
              info@ecohomestaynepal.com
            </p>
          </div>
        </div>

        <!-- COPYRIGHT -->
        <div class="row pt-5 pb-4 text-white">
          <div class="col-12">
            <p class="text-center fs-6">
              © Eco-HomeStay & SAF Nepal. All Rights Reserved.
            </p>
          </div>
        </div>
        <!-- COPYRIGHT END-->
        <!-- FOOTER END -->
        <!-- </div> -->
      </div>
    </div>
    <!--FOOTER END-->
    <script src="js/script.js"></script>
    <!-- <script src="./../random.js"></script> -->
  </body>
</html>
