<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head') %>
  </head>
  <body>
    <div class="container mt-5">
      <div class="row justify-content-evenly mt-5">
        <div class="col-md-4">
          <p class="fs-4 mt-5">
            This page isn't available. <br />
            Sorry about that.<br />
            Try searching for something else.
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
