<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>
  <body>
    <%- include('../partials/nav') %>

    <!-- YOUR CONTENT WHAT YOU WANT TO RENDERING -->
    <h2>homestay/Hunting Reserves</h2>
    <!-- YOUR CONTENT WHAT YOU WANT TO RENDERING -->

    <%- include('../partials/footer') %> <%- include('../partials/features') %>
  </body>
</html>
